
<!-- Sidebar - Brand -->
<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion hidden-xs"
	id="accordionSidebar" th:fragment="sidebar">
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="/dashboard">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fab fa-product-hunt"></i>
		</div>
		<div class="sidebar-brand-text mx-3">CRUD APP</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item"
		th:classappend="${#request.getRequestURI() == '/dashboard' ?  'active':''}"><a
		class="nav-link" href="/dashboard"> <i
			class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
	</a></li>
	
	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item"
		th:classappend="${#request.getRequestURI() == '/student' || #request.getRequestURI() == '/category'  || #request.getRequestURI() == '/newstudent' ?  'active':''}"><a
		class="nav-link collapsed" href="#" data-toggle="collapse"
		data-target="#collapseOne" aria-expanded="true"
		aria-controls="collapseOne"> <i class="fas fa-layer-group"></i> <span>Student</span>
	</a>
		<div id="collapseOne" class="collapse"
			th:classappend="${#request.getRequestURI() == '/student'  || #request.getRequestURI() == '/category'  || #request.getRequestURI() == '/newstudent' ? 'show':''}"
			aria-labelledby="headingOne" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Manage Stock</h6>
				<a class="collapse-item" href="/student"
					th:classappend="${#request.getRequestURI() == '/student' ? 'active':''}">Student</a>
				<a class="collapse-item" href="/category"
					th:classappend="${#request.getRequestURI() == '/category' ? 'active':''}">Categories</a>
				<a class="collapse-item" href="#">Products</a> <a
					class="collapse-item" href="#">Orders</a> <a class="collapse-item"
					href="#">Payments</a>
			</div>
		</div></li>


	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">Settings</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
		aria-controls="collapseTwo"> <i class="fas fa-layer-group"></i> <span>System</span>
	</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Settings</h6>
				<a class="collapse-item" href="#">Users</a> <a class="collapse-item"
					href="#">Profiles</a> <a class="collapse-item" href="#">Contents</a>
				<a class="collapse-item" href="#">Tags</a>
			</div>
		</div></li>


	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>