<!DOCTYPE html>
<html
  lang="th"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout/main_layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Add Student</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h3 mb-2 text-gray-800 mb-4">Add new student</h1>
        </div>
        <div class="col-md-6 text-right">
          <a href="/student" class="btn btn-info"
            ><i class="fas fa-chevron-left"></i> Back</a
          >
        </div>
      </div>

      <form
        action="#"
        th:action="@{/savestudent}"
        method="post"
        th:object="${student}"
      >
        <div class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label"
            >First Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="firstName"
              th:field="*{firstName}"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label"
            >Last Name</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="lastName"
              th:field="*{lastName}"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="email"
              th:field="*{email}"
            />
          </div>
        </div>

        <div class="form-group row">
          <label for="country" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-10">
            <select class="form-control" th:field="*{country}">
              <option
                value=""
                th:each="country: ${countries}"
                th:text="${country}"
                th:value="${country}"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="gender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="gender"
                name="radio"
                value="M"
                th:field="*{sex}"
                checked="checked"
              />
              <label class="form-check-label" for="gender1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                id="gender"
                name="radio"
                value="F"
                th:field="*{sex}"
              />
              <label class="form-check-label" for="gender2">Female</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="country" class="col-sm-2 col-form-label">Section</label>
          <div class="col-sm-10">
            <select class="form-control" th:field="*{section}">
              <option
                th:each="section: ${sections}"
                th:value="${section}"
                th:text="${section}"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="country" class="col-sm-2 col-form-label">&nbsp;</label>
          <div class="col-sm-10">
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
