<!DOCTYPE html>
<html
  lang="th"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout/main_layout"
>
  <head>
    <meta charset="UTF-8" />
    <title>Student List</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h3 mb-2 text-gray-800 mb-4">Student List</h1>
        </div>
        <div class="col-md-6 text-right">
          <a href="/newstudent" class="btn btn-success"
            ><i class="fas fa-plus"></i> Add new</a
          >
        </div>
      </div>

      <div class="card shadow mb-2">
        <div class="card-body">
          <table class="table table-bordered" cellspacing="0">
            <thead>
              <tr class="bg-success text-light">
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Sex</th>
                <th>Date Modified</th>
                <th>Email</th>
                <th>Section</th>
                <th>Country</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="student: ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.sex}==M ? Male:Female"></td>
                <td th:text="${#dates.format(student.createdAt,'dd/MM/yyyy')}"></td>
                <td th:utext="${student.email}"></td>
                <td th:text="${student.section}"></td>
                <td th:text="${student.country}"></td>
                <td>
                  <a
                    th:href="@{'/editstudent/'} + ${student.id}"
                    class="btn btn-sm btn-warning"
                    >Edit</a
                  >
                </td>
                <td>
                  <a
                    th:href="@{'/delete/'} + ${student.id}"
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('Confirmed to delete this item ?')"
                  >
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
